<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439018969330-o93if8djhfn3naftc361uker0s97n5oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439018969330-o93if8djhfn3naftc361uker0s97n5oj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>439018969330-gd0s8talc5michs970i9neofqc3c6lf6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_VAr_fQwnb--Z-pSWBn5lHaIEt_7MVrY</string>
	<key>GCM_SENDER_ID</key>
	<string>439018969330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bldrs.net</string>
	<key>PROJECT_ID</key>
	<string>bldrsnet</string>
	<key>STORAGE_BUCKET</key>
	<string>bldrsnet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439018969330:ios:6b38af9e92642fc603186b</string>
	<key>DATABASE_URL</key>
	<string>https://bldrsnet.firebaseio.com</string>
</dict>
</plist>