<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439018969330-kn8r7jmv7f02j5g59imfv8fshmrtu6iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439018969330-kn8r7jmv7f02j5g59imfv8fshmrtu6iu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>439018969330-3j7vk4dbjgfhm7levneompcna9g5mk1k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_VAr_fQwnb--Z-pSWBn5lHaIEt_7MVrY</string>
	<key>GCM_SENDER_ID</key>
	<string>439018969330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.bldrs.app</string>
	<key>PROJECT_ID</key>
	<string>bldrsnet</string>
	<key>STORAGE_BUCKET</key>
	<string>bldrsnet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439018969330:ios:1b0b7f9ab81d314003186b</string>
	<key>DATABASE_URL</key>
	<string>https://bldrsnet.firebaseio.com</string>
</dict>
</plist>